/* You can add global styles to this file, and also import other style files */
.btn{
    margin: 2px 2px;
}
.btn , .btn:active{
    outline: none;
} 

input.ng-invalid.ng-touched{
    border: 1px solid red;
    box-shadow: 2px 2px 3px red;
}
input ,textarea{
    margin-bottom: 18px ;
}